{% extends 'base.html' %} {% block title %}Dashboard Page{% endblock %} {% block
content %}
<!-- row -->
<div class="row tm-content-row">
  <!-- //latest hit -->
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block">
      <h2 class="tm-block-title">Sales Performance</h2>
      <canvas id="lineChart"></canvas>
    </div>
  </div>

  <!-- //Performance -->
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block">
      <h2 class="tm-block-title">Individual KPI</h2>
      <canvas id="barChart"></canvas>
    </div>
  </div>

  <!-- //order list -->
  <div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
      <p class="tm-block-title">
        <a>Orders list&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <a
          class="btn btn-primary text-uppercase"
          style="border-radius: 12px 12px 12px 12px"
          href="#"
        >
          Add new Order
        </a>
      </p>
      <table class="table">
        <thead>
          <tr align="center">
            <th scope="col">ORDER NO.</th>
            <th scope="col">STATUS</th>
            <th scope="col">EXPIRE DATE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr align="center">
            <th scope="row"><b>#122349</b></th>
            <td>
              <div class="tm-status-circle moving"></div>
              Moving
            </td>
            <td>2019/05/12</td>
            <td align="right">
              <a class="btn btn-primary text-uppercase" href="{{ url_for('order_detail.index', id='1') }}">
                order detail
              </a>
            </td>
          </tr>
          <tr align="center">
            <th scope="row"><b>#122348</b></th>
            <td>
              <div class="tm-status-circle pending"></div>
              Pending
            </td>
            <td>2019/05/12</td>
            <td align="right">
              <a class="btn btn-primary text-uppercase" href="#">
                order detail
              </a>
            </td>
          </tr>
          <tr align="center">
            <th scope="row"><b>#122347</b></th>
            <td>
              <div class="tm-status-circle cancelled"></div>
              Cancelled
            </td>
            <td>2019/05/12</td>
            <td align="right">
              <a class="btn btn-primary text-uppercase" href="#">
                order detail
              </a>
            </td>
          </tr>
          <tr align="center">
            <th scope="row"><b>#122346</b></th>
            <td>
              <div class="tm-status-circle moving"></div>
              Moving
            </td>
            <td>2019/05/12</td>
            <td align="right">
              <a class="btn btn-primary text-uppercase" href="#">
                order detail
              </a>
            </td>
          </tr>
          <tr align="center">
            <th scope="row"><b>#122345</b></th>
            <td>
              <div class="tm-status-circle pending"></div>
              Pending
            </td>
            <td>2019/05/12</td>
            <td align="right">
              <a class="btn btn-primary text-uppercase" href="#">
                order detail
              </a>
            </td>
          </tr>
          <tr align="center">
            <th scope="row"><b>#122344</b></th>
            <td>
              <div class="tm-status-circle pending"></div>
              Pending
            </td>
            <td>2019/05/12</td>
            <td align="right">
              <a class="btn btn-primary text-uppercase" href="#">
                order detail
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="../static/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="../static/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="../static/js/tooplate-scripts.js"></script>
<script>
  Chart.defaults.global.defaultFontColor = "white";
  let ctxLine,
    ctxBar,
    ctxPie,
    optionsLine,
    optionsBar,
    optionsPie,
    configLine,
    configBar,
    configPie,
    lineChart;
  barChart; //, pieChart;
  // DOM is ready
  $(document).ready(function() {
    drawLineChart(); // Line Chart
    drawBarChart(); // Bar Chart
    drawPieChart(); // Pie Chart
    updateBarChart();

    $(window).resize(function() {
      updateLineChart();
      updateBarChart();
    });
  });
</script>
{% endblock %}
