{% extends 'base.html' %} {% block title %}Dashboard Page{% endblock %} {% block
content %}
<!-- row -->
<div class="row tm-content-row">
  <!-- //latest hit -->
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block">
      <h2 class="tm-block-title">Sales Performance</h2>
      <canvas id="lineChart"></canvas>
    </div>
  </div>

  <!-- //Performance -->
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block">
      <h2 class="tm-block-title">Individual KPI</h2>
      <canvas id="barChart"></canvas>
    </div>
  </div>

  <!-- //order list -->
  <div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
      <p class="tm-block-title">
        <a>Orders list&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        {% if g.user['position']=="projectmanager" %}
        <a
          class="btn btn-primary text-uppercase"
          style="border-radius: 12px 12px 12px 12px"
          href="{{ url_for('order_detail.detail_create') }}"
        >
          Add New
        </a>
        {% endif %}
      </p>
      
      <table class="table">
        <thead>
          <tr align="center">
            <th scope="col">ORDER NO.</th>
            <th scope="col">STATUS</th>
            <!-- <th scope="col">MANAGER</th> -->
            <th scope="col">START DATE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr align="center">
            <th scope="row">
              <b>{{ order.orderid }}</b>
            </th>
            <td>{{ order.status }}</td>
            <!-- <td>{{order.managername}}</td> -->
            <td>{{ order.startdate }}</td>
            <td align="right">
              <a
                class="btn btn-primary text-uppercase"
                href="{{ url_for('order_detail.index', id = order.orderid) }}"
              >
                Detail
              </a>
            </td>

            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="../static/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="../static/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="../static/js/tooplate-scripts.js"></script>
<script>
  Chart.defaults.global.defaultFontColor = "white";
  let ctxLine,
    ctxBar,
    ctxPie,
    optionsLine,
    optionsBar,
    optionsPie,
    configLine,
    configBar,
    configPie,
    lineChart;
  barChart; //, pieChart;
  // DOM is ready
  $(document).ready(function() {
    drawLineChart(); // Line Chart
    drawBarChart(); // Bar Chart
    drawPieChart(); // Pie Chart
    updateBarChart();

    $(window).resize(function() {
      updateLineChart();
      updateBarChart();
    });
  });
</script>
{% endblock %}
